<html lang="en">
  <head>
    <title>{{title}}</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
  </head>
  <style>
    section {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
    table{
      width: 100%;
    }
  </style>
  <body>
    <header>
      <h1>게임 트렌드 수집</h1>
      <h3>Current keywords: {{keywords}}</h3>
      <center>
        <form id="search_form" action="/search">
          <input
            type="search"
            placeholder="keyword"
            id="search_input"
            name="q"
          />
          <button type="submit">추가</button>
        </form>
        <form id="delete_form" action="/delete">
          <input
            type="search"
            placeholder="keyword"
            id="delete_input"
            name="d"
          />
          <button type="submit">삭제</button>
        </form>
      </center>
    </header>
    <center>
        <h3 style="color: gray">{{games|length}}개 데이터 수집..</h3>
    </center>
    <main>
        {% if games %}
        <section>
          <center><table border>
		  <tr bgcolor="#BDBDBD" font color="white">
		   <th>순위</th>
		   <th>타이틀</th>
		   <th>배급사</th>
		   <th>빈도수</th>
		   <th>등급 분류</th>
		  </tr>
          {% for game in games %}
          <tr>
		   <td align="center">{{loop.index}}</td>
		   <td>{{game.name}}</td>
		   <td align="right">{{game.entname}}</td>
		   <td>{{game.count}}</td>
		   <td align="center">{{game.givenrate}}</td>
		  </tr>
          {% endfor %}
        </section>

        {% else %}
      <center><h3 style="color: gray">Please Input Keyword...</h3></center>
      {% endif %}
      </table></center>
    </main>
  </body>
</html>